@model EditViewModel

<form action="Edit" method="post">
    <div class="col-5 container">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">User Information</h5>
                <hr>
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" name="Id" value="@Model.Id" hidden>
                <div class="mb-3">
                    <label asp-for="FullName" class="form-label">FullName</label>
                    <input class="form-control" asp-for="FullName" placeholder="Enter name">
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input class="form-control" asp-for="Email" placeholder="Enter Email">
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="Password" placeholder="Enter Password">
                </div>
                <div class="mb-3">
                    <label asp-for="ConfrimPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" asp-for="ConfrimPassword" placeholder="Confirm Password">
                </div>
                <div class="card">
                    <div class="card header">
                        Roller
                    </div>
                    <div class="card-body">
                        @foreach (var item in ViewBag.Roles){
                            <div class="form-check">
                                <input type="checkbox"
                                    class="form-check-input"
                                    name="SelectedRole"
                                    value="@item"
                                    id="@item"
                                    @(Model.SelectedRole.Any(r => r == item) ? "checked" : "")
                                    >
                                <label for="@item" class="form-check-label">@item</label>
                            </div> 
                        }
                    </div>
                </div>

                <button type="submit" class="btn btn-primary container-fluid">Save</button>
            </div>
        </div>
    </div>
</form>
